.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
  border: 1px solid;
  border-radius: 5px;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 10px 10px 10px;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}